@import "mixins.scss";

@keyframes wall-up {
    0% { transform: translateY(800px);}
    85% { transform: translateY(10px);}
    100% { transform: translateY(0px);}
}

@keyframes show-text {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.fortifications {
    .hero-wrapper {
        .hero-fort-wrapper {
            .left {
                background-color: $color-fort-gray;
                display: flex;
                gap: 30px;
                padding: 10px;

                h1 {
                    font-size: 200px;
                    opacity: 0;
                    animation: show-text 1.5s forwards;
                    animation-delay: 4.5s;
                }

                .hero-subtitle {
                    width: 50%;
                    line-height: 100%;
                    text-transform: uppercase;
                    font-size: 20px;
                    // opacity: 0;
                    // animation: show-text 1s forwards;
                    // animation-delay: 6s;
                }
            }

            .right {
                min-width: 375px;
                min-height: 360px;
                overflow: hidden;

                .fort-image-wrapper {
                    position: relative;
                    min-width: 375px;
                    min-height: 360px;

                    .fort-image {
                        position: absolute;
                        transform: translateY(800px);
                        animation: wall-up 2s forwards;
                    }

                    .fort-1 {
                        top: 0;
                        left: 36px;
                        z-index: 1;
                        animation-delay: 0.4s;
                    }

                    .fort-2 {
                        top: 11px;
                        left: 24px;
                        z-index: 2;
                        animation-delay: 0.8s;
                    }

                    .fort-3 {
                        top: 22px;
                        left: 12px;
                        z-index: 3;
                        animation-delay: 1.2s;
                    }
                    .fort-4 {
                        top: 33px;
                        left: 0;
                        z-index: 4;
                        animation-delay: 1.8s;
                        animation-duration: 2.5s;
                    }
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .fortifications {
        .hero-wrapper {
            padding-top: 0;
            padding-bottom: 40px;

            .hero-fort-wrapper {
                gap: 0;

                .right {
                    margin-top: -40px;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 744px) {
    .fortifications {
        .hero-wrapper {
            .hero-fort-wrapper {
                width: 100%;

                .left {
                    width: 100%;
                    position: relative;
                    padding: 40px 0;

                    h1 {
                        font-size: 120px;
                        margin-left: 10px;
                    }

                    .hero-subtitle {
                        position: absolute;
                        right: 0px;
                        width: max-content;
                        top: 5px;
                    }
                }

                .right {
                    width: 100%;
                    min-width: unset;
                    
                    .fort-image-wrapper {
                        width: 290px;
                        min-width: unset;

                        .fort-image {
                            width: 300px;
                        }

                        .fort-1 {
                            top: 0;
                            left: 33px;
                            z-index: 1;
                            animation-delay: 1s;
                        }
    
                        .fort-2 {
                            top: 10px;
                            left: 22px;
                            z-index: 2;
                            animation-delay: 1.4s;
                        }
    
                        .fort-3 {
                            top: 21px;
                            left: 11px;
                            z-index: 3;
                            animation-delay: 1.8s;
                        }
                        .fort-4 {
                            top: 32px;
                            left: 0;
                            z-index: 4;
                            animation-delay: 2.7s;
                            animation-duration: 3s;
                        }
                    }
                }
            }
        }
    }
}