@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wdth,wght@91.4,400..900&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
    background-image: url("./static/icons/close.svg");
  }
  100% {
    transform: rotate(180deg);
    background-image: url("./static/icons/close.svg");
  }
}