@import "mixins.scss";

.splide__slide {
    height: 100%;

    img {
        width: auto;
        height: 100%;
    }
}

.splide {
    padding-bottom: 64px;
    position: static;
    height: 100%;

    .splide__arrows {
        position: absolute;
        display: flex;
        gap: 16px;

        bottom: 0;
        right: 0;

        .splide__arrow {
            position: static;
            transform: none;

            width: 40px;
            height: 40px;

            border: 0.5px solid #E1DFDD;
            background: none;
            opacity: 1;

            svg {
                width: 24px;
                height: 24px;
                color: $color-black;
            }
        }
    }

    .splide__slide {
        display: flex;
        justify-content: center;
    }
    
    .splide__pagination {
        left: 0;
        right: unset;

        .splide__pagination__page {
            border: 0.5px solid $color-black;
            background: none;

            &.is-active {
                background: $color-black;
                transform: none;
                opacity: 1;
            }
        }
    }
}

.splide__slide__container {
    width: 100%;

    .splide-video-wrapper {
        position: relative;
        margin-bottom: 24px;

        img {
            width: 100%;
        }
        
        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 65px;
            height: 65px;
            transform: translate(-50%, -50%);
        }
    }

    .splide-video-text {
        @include text-large();

        font-weight: 500;
    }
}

#image-slider, #image-slider2 {
    .splide__track {
        background-color: #E1DFDD;
        height: 100%;

        .splide__list {
            height: 100%;
        }
    }
}

.splide__slide__container {
    .splide-team-wrapper {
        .team-name {
            @include head4();

            font-weight: 500;
            margin-bottom: 12px;
        }

        .team-position {
            @include text-regular();

            color: $color-gray;
            margin-bottom: 24px;
        }

        .team-description {
            @include text-regular();
        }
    }
}

@media (max-width: 1439px) {
    .splide__slide__container {
        .splide-video-wrapper {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 744px) {
    .splide {
        .splide__slide {
            width: 100%;
        }

        .splide__pagination {
            padding: 0;
        }
    }
}